*~
private

_Inline
Makefile
Makefile.old
blib
pm_to_blib
MYMETA.json
MYMETA.yml
DiaColloDB-WWW
WWW
libwww

lib
dclib
README.html
kant.*
*.gz
*.dump
*.dump-*
*.db
*.ttd
*.1g
*.types
*.i
*.d
*.d-[pfs]
*.d-page
*.d[0-9]
*.d[ex]
*.dxd
*.bin
*.ng[0-5]
*.i[0-5]
*.cld
*.files
*.tabs
*.lab
*.kv
*.kvr
*.dat
*.rdat
*.tmp
*.export
*.l
*.s
*.[si]x
*.hdr
*.prf
nytprof.*
nytprof

Lingua
Lingua-TT
ltt
kern*
zeit*
spiegel*
blogs*
testus*.*
tt-db2dict.perl

dbtest
tmp.*
relcount
relcountd
relgen
relgend
timeus.txt

tmp
nohup.out
trunk
uptest.*

birmingham
nhess
aux-diacollo
test.rc*
test[0-9].*
*-notes-*.txt*

z1k.*
z1k[ab].*

svn.log
svn.diff

