*.o
/_Inline
/Makefile
/Makefile.old
/blib
/pm_to_blib
/MYMETA.json
/MYMETA.yml
/DiaColloDB-WWW
/WWW
/libwww
/lib
/dclib
/README.html
/kant.*
/*.gz
/*.dump
/*.dump-*
/*.db
/*.ttd
/*.1g
/*.types
/*.i
/*.d
/*.d-[pfs]
/*.d-page
/*.d[0-9]
/*.d[ex]
/*.dxd
/*.bin
/*.ng[0-5]
/*.i[0-5]
/*.cld
/*.files
/*.tabs
/*.lab
/*.kv
/*.kvr
/*.dat
/*.rdat
/*.tmp
/*.export
/*.l
/*.s
/*.[si]x
/*.hdr
/*.prf
/nytprof.*
/nytprof
/Lingua
/Lingua-TT
/ltt
/kern*
/zeit*
/spiegel*
/blogs*
/testus*.*
/tt-db2dict.perl
/dbtest
/tmp.*
/relcount
/relcountd
/relgen
/relgend
/timeus.txt
/tmp
/nohup.out
/trunk
/uptest.*
/birmingham
/nhess
/aux-diacollo
/test.rc*
/test[0-9].*
/*-notes-*.txt*
/z1k.*
/z1k[ab].*
/svn.log
/svn.diff

/lda/out.d
/lda/zeit01*
/lda/dta_phil*
/lda/test.gibbs.*
/lda/z1k.flat
/lda/dp.flat
/lda/kern.flat
/lda/parpack
/lda/_Inline
/lda/*.d-blei
/lda/*.d-gibbs
/lda/*.d-ccs
/lda/*.blei.d
/lda/*.tdm.d
/lda/*.ccs.d
/lda/*.tfidf.d
/lda/*.tfidf-*.d
/lda/*.svd.d
/lda/*.svd-*.d
/lda/*.gibbs.d
/lda/*.wv.d
/lda/*.wv-*.d
/lda/*.qwv-*.d
/lda/*.tmp
/lda/*.massif
/lda/*.massif-txt
/lda/*.nytprof*

/lda/slepc/_Inline
/lda/slepc/debsrc
/lda/slepc/mpirun
/lda/slepc/src
/lda/slepc/*.deb
/lda/slepc/*.dfsg
/lda/slepc/*.dfsg[0-9]
/lda/slepc/*.orig
/lda/slepc/slepc-[0-9]*
/lda/slepc/petsc-[0-9]*
/lda/slepc/*.o
/lda/slepc/*.bin
/lda/slepc/*.bin-p
/lda/slepc/*.tbin
/lda/slepc/*.perlbin
/lda/slepc/*.pybin
/lda/slepc/*.bin[._-][tT]
/lda/slepc/*.asc
/lda/slepc/*.ijv
/lda/slepc/*.info
/lda/slepc/*.dsc
/lda/slepc/*.xz
/lda/slepc/*.gz
/lda/slepc/*.changes
/lda/slepc/out.*
/lda/slepc/*.out
/lda/slepc/*.out.*
/lda/slepc/*.mm
/lda/slepc/*.petsc
/lda/slepc/*.svd.[usv]
/lda/slepc/*.T
/lda/slepc/*.d
/lda/slepc/slepc-compile
/lda/slepc/slepc-dump
/lda/slepc/slepc-svd
/lda/slepc/slepc-binio
/lda/slepc/slepc-init
/lda/slepc/slepc-vtest
/lda/slepc/slepc-transpose
/lda/slepc/petsc-transpose
/lda/slepc/*-git

/lda/slepc/tdf-mm/*.mm
/lda/slepc/tdf-mm/*.ijv
/lda/slepc/tdf-mm/*.d

/lda/tdmutils/_Inline
/lda/tdmutils/save
/lda/tdmutils/old
/lda/tdmutils/*.files
/lda/tdmutils/*.d
/lda/tdmutils/*.d0
/lda/tdmutils/kern[.-]*
/lda/tdmutils/pnn.*
/lda/tdmutils/zeit.*
/lda/tdmutils/dta_phil.*
/lda/tdmutils/dtap.*
/lda/tdmutils/dta.*
/lda/tdmutils/nohup.out
/lda/tdmutils/test.*
/lda/tdmutils/txt2tdm
/lda/tdmutils/dict2bin
/lda/tdmutils/dict2txt
/lda/tdmutils/dict-find
/lda/tdmutils/slepc-svd
/lda/tdmutils/tdm-compile
/lda/tdmutils/tdm-convert
/lda/tdmutils/tdm-header
/lda/tdmutils/tdm-filter
/lda/tdmutils/tdm-tfidf
/lda/tdmutils/tdm-weight
/lda/tdmutils/tdm-svd
/lda/tdmutils/tdm-labmat
/lda/tdmutils/tdm-petscv2pdl
/lda/tdmutils/tdm-term-weights
/lda/tdmutils/tdm-dictgrep
/lda/tdmutils/tdm-knn
/lda/tdmutils/ft-bindump
/lda/tdmutils/ft-test
/lda/tdmutils/ft-matrix
/lda/tdmutils/ft-tdm-labmat
/lda/tdmutils/fastText.git
/lda/tdmutils/word2vec
/lda/tdmutils/DiaColloDB
/lda/tdmutils/dcdb-*.perl
/lda/tdmutils/*.out.*
/lda/tdmutils/*.dict
/lda/tdmutils/*.tdm
/lda/tdmutils/*.dims
/lda/tdmutils/*.dump
/lda/tdmutils/*.tw
/lda/tdmutils/dtap.*
/lda/tdmutils/dtap-*
/lda/tdmutils/src

/DiaColloDB/*_save

/DiaColloDB/Relation/*_save

/plots/*.eps
/plots/*.pdf
/plots/*.png
/plots/*.svg

/trunk/_Inline
/trunk/Makefile
/trunk/Makefile.old
/trunk/blib
/trunk/pm_to_blib
/trunk/MYMETA.json
/trunk/MYMETA.yml
/trunk/DiaColloDB-WWW
/trunk/WWW
/trunk/libwww
/trunk/lib
/trunk/dclib
/trunk/README.html
/trunk/kant.*
/trunk/*.gz
/trunk/*.dump
/trunk/*.dump-*
/trunk/*.db
/trunk/*.ttd
/trunk/*.1g
/trunk/*.types
/trunk/*.i
/trunk/*.d
/trunk/*.d-[pfs]
/trunk/*.d-page
/trunk/*.d[0-9]
/trunk/*.d[ex]
/trunk/*.dxd
/trunk/*.bin
/trunk/*.ng[0-5]
/trunk/*.i[0-5]
/trunk/*.cld
/trunk/*.files
/trunk/*.tabs
/trunk/*.lab
/trunk/*.kv
/trunk/*.kvr
/trunk/*.dat
/trunk/*.rdat
/trunk/*.tmp
/trunk/*.export
/trunk/*.l
/trunk/*.s
/trunk/*.[si]x
/trunk/*.hdr
/trunk/*.prf
/trunk/nytprof.*
/trunk/nytprof
/trunk/Lingua
/trunk/Lingua-TT
/trunk/ltt
/trunk/kern*
/trunk/zeit*
/trunk/spiegel*
/trunk/blogs*
/trunk/testus*.*
/trunk/tt-db2dict.perl
/trunk/dbtest
/trunk/tmp.*
/trunk/relcount
/trunk/relcountd
/trunk/relgen
/trunk/relgend
/trunk/timeus.txt
/trunk/tmp
/trunk/nohup.out
/trunk/trunk
/trunk/uptest.*
/trunk/birmingham
/trunk/nhess
/trunk/aux-diacollo
/trunk/test.rc*
/trunk/test[0-9].*
/trunk/*-notes-*.txt*
/trunk/z1k.*
/trunk/z1k[ab].*
/trunk/svn.log
/trunk/svn.diff

/trunk/lda/out.d
/trunk/lda/zeit01*
/trunk/lda/dta_phil*
/trunk/lda/test.gibbs.*
/trunk/lda/z1k.flat
/trunk/lda/dp.flat
/trunk/lda/kern.flat
/trunk/lda/parpack
/trunk/lda/_Inline
/trunk/lda/*.d-blei
/trunk/lda/*.d-gibbs
/trunk/lda/*.d-ccs
/trunk/lda/*.blei.d
/trunk/lda/*.tdm.d
/trunk/lda/*.ccs.d
/trunk/lda/*.tfidf.d
/trunk/lda/*.tfidf-*.d
/trunk/lda/*.svd.d
/trunk/lda/*.svd-*.d
/trunk/lda/*.gibbs.d
/trunk/lda/*.wv.d
/trunk/lda/*.wv-*.d
/trunk/lda/*.qwv-*.d
/trunk/lda/*.tmp
/trunk/lda/*.massif
/trunk/lda/*.massif-txt
/trunk/lda/*.nytprof*

/trunk/lda/slepc/_Inline
/trunk/lda/slepc/debsrc
/trunk/lda/slepc/mpirun
/trunk/lda/slepc/src
/trunk/lda/slepc/*.deb
/trunk/lda/slepc/*.dfsg
/trunk/lda/slepc/*.dfsg[0-9]
/trunk/lda/slepc/*.orig
/trunk/lda/slepc/slepc-[0-9]*
/trunk/lda/slepc/petsc-[0-9]*
/trunk/lda/slepc/*.o
/trunk/lda/slepc/*.bin
/trunk/lda/slepc/*.bin-p
/trunk/lda/slepc/*.tbin
/trunk/lda/slepc/*.perlbin
/trunk/lda/slepc/*.pybin
/trunk/lda/slepc/*.bin[._-][tT]
/trunk/lda/slepc/*.asc
/trunk/lda/slepc/*.ijv
/trunk/lda/slepc/*.info
/trunk/lda/slepc/*.dsc
/trunk/lda/slepc/*.xz
/trunk/lda/slepc/*.gz
/trunk/lda/slepc/*.changes
/trunk/lda/slepc/out.*
/trunk/lda/slepc/*.out
/trunk/lda/slepc/*.out.*
/trunk/lda/slepc/*.mm
/trunk/lda/slepc/*.petsc
/trunk/lda/slepc/*.svd.[usv]
/trunk/lda/slepc/*.T
/trunk/lda/slepc/*.d
/trunk/lda/slepc/slepc-compile
/trunk/lda/slepc/slepc-dump
/trunk/lda/slepc/slepc-svd
/trunk/lda/slepc/slepc-binio
/trunk/lda/slepc/slepc-init
/trunk/lda/slepc/slepc-vtest
/trunk/lda/slepc/slepc-transpose
/trunk/lda/slepc/petsc-transpose
/trunk/lda/slepc/*-git

/trunk/lda/slepc/tdf-mm/*.mm
/trunk/lda/slepc/tdf-mm/*.ijv
/trunk/lda/slepc/tdf-mm/*.d

/trunk/lda/tdmutils/_Inline
/trunk/lda/tdmutils/save
/trunk/lda/tdmutils/old
/trunk/lda/tdmutils/*.files
/trunk/lda/tdmutils/*.d
/trunk/lda/tdmutils/*.d0
/trunk/lda/tdmutils/kern[.-]*
/trunk/lda/tdmutils/pnn.*
/trunk/lda/tdmutils/zeit.*
/trunk/lda/tdmutils/dta_phil.*
/trunk/lda/tdmutils/dtap.*
/trunk/lda/tdmutils/dta.*
/trunk/lda/tdmutils/nohup.out
/trunk/lda/tdmutils/test.*
/trunk/lda/tdmutils/txt2tdm
/trunk/lda/tdmutils/dict2bin
/trunk/lda/tdmutils/dict2txt
/trunk/lda/tdmutils/dict-find
/trunk/lda/tdmutils/slepc-svd
/trunk/lda/tdmutils/tdm-compile
/trunk/lda/tdmutils/tdm-convert
/trunk/lda/tdmutils/tdm-header
/trunk/lda/tdmutils/tdm-filter
/trunk/lda/tdmutils/tdm-tfidf
/trunk/lda/tdmutils/tdm-weight
/trunk/lda/tdmutils/tdm-svd
/trunk/lda/tdmutils/tdm-labmat
/trunk/lda/tdmutils/tdm-petscv2pdl
/trunk/lda/tdmutils/tdm-term-weights
/trunk/lda/tdmutils/tdm-dictgrep
/trunk/lda/tdmutils/tdm-knn
/trunk/lda/tdmutils/ft-bindump
/trunk/lda/tdmutils/ft-test
/trunk/lda/tdmutils/ft-matrix
/trunk/lda/tdmutils/ft-tdm-labmat
/trunk/lda/tdmutils/fastText.git
/trunk/lda/tdmutils/word2vec
/trunk/lda/tdmutils/DiaColloDB
/trunk/lda/tdmutils/dcdb-*.perl
/trunk/lda/tdmutils/*.out.*
/trunk/lda/tdmutils/*.dict
/trunk/lda/tdmutils/*.tdm
/trunk/lda/tdmutils/*.dims
/trunk/lda/tdmutils/*.dump
/trunk/lda/tdmutils/*.tw
/trunk/lda/tdmutils/dtap.*
/trunk/lda/tdmutils/dtap-*
/trunk/lda/tdmutils/src

/trunk/DiaColloDB/*_save

/trunk/DiaColloDB/Relation/*_save

/trunk/plots/*.eps
/trunk/plots/*.pdf
/trunk/plots/*.png
/trunk/plots/*.svg

/trunk/enumtest/*.db
/trunk/enumtest/*.ttd
/trunk/enumtest/*.1g
/trunk/enumtest/*.types
/trunk/enumtest/*.i
/trunk/enumtest/*.d
/trunk/enumtest/*.d[0-9]
/trunk/enumtest/*.d[ex]
/trunk/enumtest/*.bin
/trunk/enumtest/*.ng[0-5]
/trunk/enumtest/*.i[0-5]
/trunk/enumtest/*.cld
/trunk/enumtest/*.files
/trunk/enumtest/*.tabs
/trunk/enumtest/*.lab
/trunk/enumtest/*.kv
/trunk/enumtest/*.kvr
/trunk/enumtest/*.dat
/trunk/enumtest/*.rdat
/trunk/enumtest/*.tmp
/trunk/enumtest/*.export
/trunk/enumtest/*.l
/trunk/enumtest/*.s
/trunk/enumtest/*.[si]x
/trunk/enumtest/*.hdr
/trunk/enumtest/*.prf
/trunk/enumtest/nytprof.*
/trunk/enumtest/Lingua
/trunk/enumtest/Lingua-TT
/trunk/enumtest/ltt
/trunk/enumtest/kern*
/trunk/enumtest/testus*.*
/trunk/enumtest/tt-db2dict.perl
/trunk/enumtest/dbtest
/trunk/enumtest/tmp.*
/trunk/enumtest/relcount
/trunk/enumtest/relcountd
/trunk/enumtest/relgen
/trunk/enumtest/relgend
/trunk/enumtest/timeus.txt

/trunk/cofgen/relcount
/trunk/cofgen/relcountd
/trunk/cofgen/relgen
/trunk/cofgen/relgend

/trunk/XS/Makefile
/trunk/XS/Makefile.old
/trunk/XS/blib
/trunk/XS/pm_to_blib
/trunk/XS/MYMETA.json
/trunk/XS/MYMETA.yml
/trunk/XS/*.out
/trunk/XS/*.tmp
/trunk/XS/*.o
/trunk/XS/*.dat
/trunk/XS/*.d
/trunk/XS/dcdb-cof-gen
/trunk/XS/dcdb-cof-compile32
/trunk/XS/dcdb-cof-compile64
/trunk/XS/XS.c
/trunk/XS/XS.bs

/trunk/XS/misc/Makefile
/trunk/XS/misc/Makefile.old
/trunk/XS/misc/blib
/trunk/XS/misc/pm_to_blib
/trunk/XS/misc/MYMETA.json
/trunk/XS/misc/MYMETA.yml
/trunk/XS/misc/*.out
/trunk/XS/misc/*.tmp
/trunk/XS/misc/*.o
/trunk/XS/misc/*.dat
/trunk/XS/misc/dcdb-cofgen
/trunk/XS/misc/XS.c
/trunk/XS/misc/XS.bs
/trunk/XS/misc/test-sconst
/trunk/XS/misc/test-bits

/trunk/misc/*.bin
/trunk/misc/*.d
/trunk/misc/[a-z].pdl
/trunk/misc/[a-z].pdl.hdr
/trunk/misc/dbtest
/trunk/misc/*.dat
/trunk/misc/kern-index
/trunk/misc/dita
/trunk/misc/lib

/trunk/misc/formats/*.sto

/trunk/misc/dwds-wbclass/wdg.lin
/trunk/misc/dwds-wbclass/wdg.cab-csv
/trunk/misc/dwds-wbclass/*.d
/trunk/misc/dwds-wbclass/*.d+*
/trunk/misc/dwds-wbclass/*.d-*
/trunk/misc/dwds-wbclass/*.out*
/trunk/misc/dwds-wbclass/*.eval*
/trunk/misc/dwds-wbclass/*.errors*
/trunk/misc/dwds-wbclass/*.dout*
/trunk/misc/dwds-wbclass/*.deval*
/trunk/misc/dwds-wbclass/*.derrors*
/trunk/misc/dwds-wbclass/*.ldout*
/trunk/misc/dwds-wbclass/*.ldeval*
/trunk/misc/dwds-wbclass/*.lderrors*
/trunk/misc/dwds-wbclass/*.w2l
/trunk/misc/dwds-wbclass/*.l
/trunk/misc/dwds-wbclass/*.in
/trunk/misc/dwds-wbclass/*.1g
/trunk/misc/dwds-wbclass/*.c1g
/trunk/misc/dwds-wbclass/*.hist
/trunk/misc/dwds-wbclass/*.nontrivial
/trunk/misc/dwds-wbclass/gn.*
/trunk/misc/dwds-wbclass/*.simple
/trunk/misc/dwds-wbclass/lib
/trunk/misc/dwds-wbclass/dclib
/trunk/misc/dwds-wbclass/gnlib

/trunk/misc/build-optimize-2019-12/cof-stage2/core
/trunk/misc/build-optimize-2019-12/cof-stage2/*.d
/trunk/misc/build-optimize-2019-12/cof-stage2/*.dat
/trunk/misc/build-optimize-2019-12/cof-stage2/*.o
/trunk/misc/build-optimize-2019-12/cof-stage2/*.bin32
/trunk/misc/build-optimize-2019-12/cof-stage2/*.bin64
/trunk/misc/build-optimize-2019-12/cof-stage2/cof2bin-*cxx*32
/trunk/misc/build-optimize-2019-12/cof-stage2/cof2bin-*cxx*64
/trunk/misc/build-optimize-2019-12/cof-stage2/*.tmph
/trunk/misc/build-optimize-2019-12/cof-stage2/*.out-*
/trunk/misc/build-optimize-2019-12/cof-stage2/*-diff
/trunk/misc/build-optimize-2019-12/cof-stage2/xuniq

/trunk/misc/build-optimize-2019-12/cof-stage1/core
/trunk/misc/build-optimize-2019-12/cof-stage1/*.dat
/trunk/misc/build-optimize-2019-12/cof-stage1/*.o
/trunk/misc/build-optimize-2019-12/cof-stage1/*.bin32
/trunk/misc/build-optimize-2019-12/cof-stage1/*.bin64
/trunk/misc/build-optimize-2019-12/cof-stage1/tok2cof-cxx*32
/trunk/misc/build-optimize-2019-12/cof-stage1/tok2cof-cxx*64
/trunk/misc/build-optimize-2019-12/cof-stage1/*.tmph
/trunk/misc/build-optimize-2019-12/cof-stage1/*.out-*
/trunk/misc/build-optimize-2019-12/cof-stage1/*-diff
/trunk/misc/build-optimize-2019-12/cof-stage1/xuniq

/trunk/misc/build-optimize-2019-12/tdf-union/*.d

/trunk/misc/build-optimize-2019-12/data/*.files
/trunk/misc/build-optimize-2019-12/data/*.d

/trunk/misc/build-optimize-2019-12/compile-corpus/*.compile-*.files
/trunk/misc/build-optimize-2019-12/compile-corpus/*.compile-*.d
/trunk/misc/build-optimize-2019-12/compile-corpus/*.compile-*.mak
/trunk/misc/build-optimize-2019-12/compile-corpus/*.fcompile-*.files
/trunk/misc/build-optimize-2019-12/compile-corpus/*.fcompile-*.d
/trunk/misc/build-optimize-2019-12/compile-corpus/*.fcompile-*.mak
/trunk/misc/build-optimize-2019-12/compile-corpus/*.mcompile-*.d

/trunk/w2v/.Inline
/trunk/w2v/_Inline
/trunk/w2v/PDL-CCS
/trunk/w2v/save
/trunk/w2v/zeit01*
/trunk/w2v/raw
/trunk/w2v/*.svn
/trunk/w2v/*.git
/trunk/w2v/*.bin
/trunk/w2v/*.tabs
/trunk/w2v/*.d
/trunk/w2v/*.export
/trunk/w2v/*.t
/trunk/w2v/*.wvt
/trunk/w2v/*.1g
/trunk/w2v/*.dat
/trunk/w2v/*.vocab
/trunk/w2v/*.hdr
/trunk/w2v/*.es
/trunk/w2v/*.eix
/trunk/w2v/*.esx
/trunk/w2v/*.kwm

/trunk/PDL-Utils/_Inline
/trunk/PDL-Utils/testme
/trunk/PDL-Utils/Makefile
/trunk/PDL-Utils/Makefile.old
/trunk/PDL-Utils/blib
/trunk/PDL-Utils/pm_to_blib
/trunk/PDL-Utils/MYMETA.json
/trunk/PDL-Utils/MYMETA.yml
/trunk/PDL-Utils/Utils.bs
/trunk/PDL-Utils/Utils.xs
/trunk/PDL-Utils/Utils.c
/trunk/PDL-Utils/Utils.pm

/trunk/logo/*-converted-to.pdf
/trunk/logo/*.eps

/enumtest/*.db
/enumtest/*.ttd
/enumtest/*.1g
/enumtest/*.types
/enumtest/*.i
/enumtest/*.d
/enumtest/*.d[0-9]
/enumtest/*.d[ex]
/enumtest/*.bin
/enumtest/*.ng[0-5]
/enumtest/*.i[0-5]
/enumtest/*.cld
/enumtest/*.files
/enumtest/*.tabs
/enumtest/*.lab
/enumtest/*.kv
/enumtest/*.kvr
/enumtest/*.dat
/enumtest/*.rdat
/enumtest/*.tmp
/enumtest/*.export
/enumtest/*.l
/enumtest/*.s
/enumtest/*.[si]x
/enumtest/*.hdr
/enumtest/*.prf
/enumtest/nytprof.*
/enumtest/Lingua
/enumtest/Lingua-TT
/enumtest/ltt
/enumtest/kern*
/enumtest/testus*.*
/enumtest/tt-db2dict.perl
/enumtest/dbtest
/enumtest/tmp.*
/enumtest/relcount
/enumtest/relcountd
/enumtest/relgen
/enumtest/relgend
/enumtest/timeus.txt

/cofgen/relcount
/cofgen/relcountd
/cofgen/relgen
/cofgen/relgend

/XS/Makefile
/XS/Makefile.old
/XS/blib
/XS/pm_to_blib
/XS/MYMETA.json
/XS/MYMETA.yml
/XS/*.out
/XS/*.tmp
/XS/*.o
/XS/*.dat
/XS/*.d
/XS/dcdb-cof-gen
/XS/dcdb-cof-compile32
/XS/dcdb-cof-compile64
/XS/XS.c
/XS/XS.bs

/XS/misc/Makefile
/XS/misc/Makefile.old
/XS/misc/blib
/XS/misc/pm_to_blib
/XS/misc/MYMETA.json
/XS/misc/MYMETA.yml
/XS/misc/*.out
/XS/misc/*.tmp
/XS/misc/*.o
/XS/misc/*.dat
/XS/misc/dcdb-cofgen
/XS/misc/XS.c
/XS/misc/XS.bs
/XS/misc/test-sconst
/XS/misc/test-bits

/misc/*.bin
/misc/*.d
/misc/[a-z].pdl
/misc/[a-z].pdl.hdr
/misc/dbtest
/misc/*.dat
/misc/kern-index
/misc/dita
/misc/lib

/misc/formats/*.sto

/misc/dwds-wbclass/wdg.lin
/misc/dwds-wbclass/wdg.cab-csv
/misc/dwds-wbclass/*.d
/misc/dwds-wbclass/*.d+*
/misc/dwds-wbclass/*.d-*
/misc/dwds-wbclass/*.out*
/misc/dwds-wbclass/*.eval*
/misc/dwds-wbclass/*.errors*
/misc/dwds-wbclass/*.dout*
/misc/dwds-wbclass/*.deval*
/misc/dwds-wbclass/*.derrors*
/misc/dwds-wbclass/*.ldout*
/misc/dwds-wbclass/*.ldeval*
/misc/dwds-wbclass/*.lderrors*
/misc/dwds-wbclass/*.w2l
/misc/dwds-wbclass/*.l
/misc/dwds-wbclass/*.in
/misc/dwds-wbclass/*.1g
/misc/dwds-wbclass/*.c1g
/misc/dwds-wbclass/*.hist
/misc/dwds-wbclass/*.nontrivial
/misc/dwds-wbclass/gn.*
/misc/dwds-wbclass/*.simple
/misc/dwds-wbclass/lib
/misc/dwds-wbclass/dclib
/misc/dwds-wbclass/gnlib

/misc/build-optimize-2019-12/cof-stage2/core
/misc/build-optimize-2019-12/cof-stage2/*.d
/misc/build-optimize-2019-12/cof-stage2/*.dat
/misc/build-optimize-2019-12/cof-stage2/*.o
/misc/build-optimize-2019-12/cof-stage2/*.bin32
/misc/build-optimize-2019-12/cof-stage2/*.bin64
/misc/build-optimize-2019-12/cof-stage2/cof2bin-*cxx*32
/misc/build-optimize-2019-12/cof-stage2/cof2bin-*cxx*64
/misc/build-optimize-2019-12/cof-stage2/*.tmph
/misc/build-optimize-2019-12/cof-stage2/*.out-*
/misc/build-optimize-2019-12/cof-stage2/*-diff
/misc/build-optimize-2019-12/cof-stage2/xuniq

/misc/build-optimize-2019-12/cof-stage1/core
/misc/build-optimize-2019-12/cof-stage1/*.dat
/misc/build-optimize-2019-12/cof-stage1/*.o
/misc/build-optimize-2019-12/cof-stage1/*.bin32
/misc/build-optimize-2019-12/cof-stage1/*.bin64
/misc/build-optimize-2019-12/cof-stage1/tok2cof-cxx*32
/misc/build-optimize-2019-12/cof-stage1/tok2cof-cxx*64
/misc/build-optimize-2019-12/cof-stage1/*.tmph
/misc/build-optimize-2019-12/cof-stage1/*.out-*
/misc/build-optimize-2019-12/cof-stage1/*-diff
/misc/build-optimize-2019-12/cof-stage1/xuniq

/misc/build-optimize-2019-12/tdf-union/*.d

/misc/build-optimize-2019-12/data/*.files
/misc/build-optimize-2019-12/data/*.d

/misc/build-optimize-2019-12/compile-corpus/*.compile-*.files
/misc/build-optimize-2019-12/compile-corpus/*.compile-*.d
/misc/build-optimize-2019-12/compile-corpus/*.compile-*.mak
/misc/build-optimize-2019-12/compile-corpus/*.fcompile-*.files
/misc/build-optimize-2019-12/compile-corpus/*.fcompile-*.d
/misc/build-optimize-2019-12/compile-corpus/*.fcompile-*.mak
/misc/build-optimize-2019-12/compile-corpus/*.mcompile-*.d

/w2v/.Inline
/w2v/_Inline
/w2v/PDL-CCS
/w2v/save
/w2v/zeit01*
/w2v/raw
/w2v/*.svn
/w2v/*.git
/w2v/*.bin
/w2v/*.tabs
/w2v/*.d
/w2v/*.export
/w2v/*.t
/w2v/*.wvt
/w2v/*.1g
/w2v/*.dat
/w2v/*.vocab
/w2v/*.hdr
/w2v/*.es
/w2v/*.eix
/w2v/*.esx
/w2v/*.kwm

/PDL-Utils/_Inline
/PDL-Utils/testme
/PDL-Utils/Makefile
/PDL-Utils/Makefile.old
/PDL-Utils/blib
/PDL-Utils/pm_to_blib
/PDL-Utils/MYMETA.json
/PDL-Utils/MYMETA.yml
/PDL-Utils/Utils.bs
/PDL-Utils/Utils.xs
/PDL-Utils/Utils.c
/PDL-Utils/Utils.pm

/logo/*-converted-to.pdf
/logo/*.eps

